:root {
  --darkOrange: #e07f2b;
  --peach: #ffc28e;
  --blue: #a1c3ff;
  --gray: #c7c3a9;
  --yellow: #fffadb;
}

::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

button {
  padding: 2px 4px;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}

#navbarTabs-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#main {
  height: 100vh;
  width: 100vw;
  background-color: var(--yellow);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-content {
    flex-grow: 1;
    min-height: 0px;
    padding: 40px;
}

.scrolling-content {
    overflow-y: scroll;
    min-height: 0px;
    flex-grow: 1;
}

.horizontal-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.horizontal-cards > div {
    flex: 1 1 350px;
    max-height: 600px;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  border-radius: 5px;
  align-self: center;
}

#routine-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}


#routine-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px;
  border-radius: 8px;
  gap: 15px;
  background-color: var(--peach);
  color: black;
  flex-grow: 1;
}
#routine-activity-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.4);
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

#my-routine-header, #activities-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#full-routines-page {
  overflow-y: scroll;
  min-height: 0px;
  flex-grow: 1;
}

.my-routine-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#activities-full-page {
  display: flex;
  flex-direction: column;
}

#activities-container {
  display: flex;
  flex-direction: column;
}

#activity-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 20px 0px;
}

#activity-container:last-child {
    border: none;
}

.form-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    padding: 20px;
    border-radius: 5px;
    gap: 15px;
    color: white;
}

.form-parent form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-parent h1 {
    font-size: 1.75rem;
}

.form-parent h2 {
    font-size: 1.25rem;
}

.form-parent form button {
    align-self: center;
}

.checkbox-parent {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.checkbox-parent input {
    width: 1rem;
}

#number-form-field {
    width: 3rem;
}